* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.baitap1 {
    height: 200px;
    margin: 60px  30px 30px;
    padding: 50px;
    position: relative;
    background-color: rgb(222, 222, 222);
}

.baitap1 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-600%);
    position: absolute;
}

.baitap1>span {
    color: white;
    background-color: rgb(96, 116, 180);
    padding: 10px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
    position: absolute;
}

.baitap1 h1 {
    color:  black;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.baitap1 h1 span {
    color:  aqua;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.baitap1 h4 {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.button {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 0 10px;
}

.baitap2 {
    height: 150px;
    background-image: url(assests/bg\ blue.jpg);
    background-size: cover;
    padding: 30px;
    margin: 60px 30px 30px 30px;
    position: relative;
}

.baitap2 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-450%);
    position: absolute;
}

.baitap2 h1 {
    color: white;
    font-weight: 400;
    font-size: 170%;
    text-align: center;
    text-shadow: 0 0 1px black;
}

.baitap2 h5 {
    margin-top: 20px;
    color: white;
    font-weight: 400;
    font-size: 100%;
    text-align: center;
    text-shadow: 0 0 1px black;
}

.button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    color: white;
    font-size: 100%;
    background-color: rgb(49, 169, 224);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}

.baitap3 {
    height: 350px;
    background-color: #d3d3d3;
    margin: 60px  30px 30px;
    padding: 50px 30px;
    position: relative;
}

.baitap3 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-850%);
    position: absolute;
}

.baitap3 .logo {
    text-align: center;
}

.baitap3 h1 {
    margin: 20px;
    text-align: center;
}

.baitap3 h5 {
    margin: 20px 50px;
    font-weight: 400;
    text-align: center;
}

.baitap3 .input {
    position: relative;
}

.baitap3 .input input {
    width: 350px;
    margin: 20px auto;
    padding: 15px 20px;
    border: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.baitap3 .input span {
    color: #999;
    top: 50%;
    left: 50%;
    transform: translate(-215%,-50%);
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.baitap3 button {
    margin: 10px auto;
    padding: 15px 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(61, 204, 204);
    border: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.baitap4 {
    height: 150px;
    background-image: url(assests/bg\ blue.jpg);
    margin: 60px  30px 30px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.baitap4 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-420%);
    position: absolute;
}

.baitap4 .box {
    text-align: center;
}

.baitap4 .number {
    color: white;
    font-size: 150%;
    font-weight: 700;
    text-shadow: 0 0 1px black;
}

.baitap4 h6 {
    margin-top: 10px;
    color: white;
    font-size: 90%;
    font-weight: 100;
    text-shadow: 0 0 1px black;
}

.baitap5 {
    height: 550px;
    margin: 60px  30px 30px;
    padding: 20px;
    position: relative;
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.baitap5 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-1090%);
    position: absolute;
}

.baitap5 .box {
    max-width: 600px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.baitap5 .box h1 {
    font-size: 140%;
}

.baitap5 .box h5 {
    margin-top: 10px;
    font-weight: 100;
}

.baitap6 {
    height: 200px;
    margin: 60px  30px 30px;
    padding: 20px;
    position: relative;
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
}

.baitap6 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-500%);
    position: absolute;
}

.baitap6 .box {
    max-width: 250px;
    background-color: white;
    padding: 30px;
}

.baitap6 .box h1 {
    font-size: 90%;
    font-weight: 100;
}

.baitap6 .box h6 {
    font-size: 70%;
    font-weight: 100;
    margin-top: 20px;
    line-height: 23px;
}

.baitap6 .box h6>span {
    color: gray;
}

.baitap7 {
    height: 300px;
    margin: 60px 30px 30px 30px;
    line-height: 20px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.baitap7 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-880%);
    position: absolute;
}

.baitap7 .box  {
    padding: 25px;
    max-width: 20%;
    background-color: black;
}

.baitap7 .box>span {
    color: white;
    background-color: rgb(96, 116, 180);
    padding: 10px 30px;
}

.baitap7 .box h5 {
    color: gray;
    margin-top: 30px;
    font-size: 80%;
    font-weight: 300;
}

.baitap7 .box h1 {
    color: white;
    font-size: 90%;
    font-weight: 500;
}

.baitap7 .box li {
    color: gray;
    margin-top: 5px;
    font-size: 80%;
    font-weight: 300;
    list-style: none;
}

.baitap7 .box img {
    width: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-300%,-50%);
    position: absolute;
}

.baitap7 .box ul {
    width: 150px;
    padding: 10px 0;
    border-bottom: 1px dotted gray;
    position: relative;
}

.baitap7 .box ul>span {
    margin-left: 30px;
}

.baitap8 {
    height: 600px;
    margin: 60px  30px 30px;
    padding: 20px;
    line-height: 20px;
    background-color: rgb(222, 222, 222);
    position: relative;
}

.baitap8 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-1730%);
    position: absolute;
}

.baitap8>h1 {
    height: 50px;
    color:  black;
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    padding: 40px;
}

.baitap8 .box {
    display: flex;
    justify-content: center;
}

.baitap8 .box1 {
    margin: 0px 20px;
    padding: 50px 40px;
    background-color: white;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 0 5px greenyellow;
}

.baitap8 .box1>h1 {
    color:  black;
    font-size: 100%;
    font-weight: 500;
}

.baitap8 .box1>h5 {
    padding: 20px 0;
    color:  black;
    font-size: 100%;
    font-weight: 100;
}

.baitap8 .box1>h6 {
    margin-top: 5px;
    color:  aqua;
    font-size: 70%;
    font-weight: 100;
}

.baitap8 .box2 {
    width: 50%;
    margin: 0 20px;
    padding: 0 40px;
}

.baitap8 .box2>h5 {
    color:  black;
    font-size: 100%;
    font-weight: 100;
}

.baitap8 .box2>h1 {
    margin: 20px 0;
    color:  black;
    font-size: 100%;
    font-weight: 500;
}

.baitap9 {
    height: 400px;
    margin: 60px  30px 30px;
    line-height: 20px;
    background-color: rgb(222, 222, 222);
    position: relative;
}

.baitap9 h2 {
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-1130%);
    position: absolute;
}

.baitap9 .top {
    height: 70px;
    background-color: aqua;
    padding: 40px;
}

.baitap9 .top>h1 {
    color:  white;
    font-size: 140%;
    font-weight: 700;
    line-height: 25px;
}

.baitap9 .bottom {
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.baitap9 .bottom .box {
    width: 30%;
    margin: -50px 20px 20px 20px;
    padding: 20px;
    background-color: white;
}

.baitap9 .bottom .box h1 {
    font-size: 100%;
    font-weight: 700;
    line-height: 25px;
}

.baitap9 .bottom .box h5 {
    margin-top: 10px;
    color: gray;
    font-size: 70%;
    font-weight: 100;
    line-height: 25px;
}

.baitap9 .bottom .box img {
    margin-top: 10px;
}
